<%- include('./partials/header') %>

  <div class="start-page">
    <div id="left">
      <img id="icon" src="/images/icon.png" alt="Icon" />
      <div id="header">
        <h1>Cap-Advisor</h1>
        <p>Find your way.</p>
      </div>
      <div id="buttons">
        <a href="/registeration">Sign up</a>
        <a href="login">Login</a>
      </div>
    </div>
    <div id="right">
      <img id="background" src="/images/background.jpg" alt="Background Image" />
    </div>
  </div>

  <%- include('./partials/footer') %>