* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.start-page {
  background-color: rgb(29, 50, 97);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#right {
  height: 90%;
  width: 50vw;
}

#background {
  object-fit: cover;
  height: 100%;
  padding: 0;
  margin: 0;
}

#left {
  height: 100vh;
  width: 45vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#header {
  margin-bottom: 40px;
  color: #fff;
}

#header h1 {
  font-size: 12vh;
  margin-bottom: 0;
}

#header p {
  font-size: 5vh;
}

#buttons {
  width: 90%;
  height: 20vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

#buttons a {
  background-color: #fff;
  padding-top: 1.5%;
  text-decoration: none;
  width: 45%;
  height: 4.5vh;
  border: 1px solid #000000;
  border-radius: 50px;
  font-weight: bold;
  font-size: 2vh;
  color: black;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

#buttons a:hover {
  background-color: rgb(194, 194, 194);
}

#icon {
  width: 20vw;
  height: auto;
}

@media only screen and (max-width: 1170px) {
  #right {
    display: none;
  }

  #left {
    width: 100%;
  }

  #icon {
    width: 35vw;
  }

  #header h1 {
    font-size: 14vw;
  }
}
